!!!
%html{lang: "ru"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title СP1 HTML CSS
    %link{href: "css/Style.css", rel: "stylesheet"}/
  %body
    %main
      .wrapper_main
        .wrapper_text
          .container_text
            %h2 Why Us?
            %p.text_1
              To provide a safe and enjoyable environment for all of our clients and
              work with our clients to achieve the results to services they request, while focusing their hair, nail, and skin health.Р&gt;
            %p.text_2
              Sample text. Click to Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate. Pharetra magna ac placerat vestibulum. Quam lacus suspendisse faucibus interdum
              posuere lorem. Egestas tellus rutrum tellus pellentesque eu tincidunt. Neque vitae tempus quam pellentesque nec.
            %a{href: ""} Learn More
        .wrapper_quote
          .quote
            %p.text_quote Proin sed libero enim sed faucibus turpis. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla pharetra diam sit amet nisl. Enim nunc
            %p.text_autor Celia Almeda
          .quote
            %p.text_quote Proin sed libero enim sed faucibus turpis. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla pharetra diam sit amet nisl.
            %p.text_autor Frank Kinney
          .quote
            %p.text_quote Proin sed libero enim sed faucibus turpis. At imperdiet dui accumsan sit amet nulla facilisi morbi tempus. Ut sem nulla pharetra diam sit amet nisl. .
            %p.text_autor Philipp Nelson
        %footer
          %a{href: ""} Website Templates
          created with
          %a{href: ""} Offline Website Builder.